h1, h2, h3, h4, a {
  color: rgb(0, 0, 0);
  width: 700px;
  text-align: center;
       }
       a {
           font-size: 150%;
       }
    a:link {
        color: blue;
    }
    a:visited {
        color: purple;
    }
    a:hover {
        text-decoration: none;
        color: yellow;
    }
       h1 {
        margin: 0;
        padding: 20px 0;
        color: #000000;
        text-shadow: 5px 5px 3px rgb(207, 207, 207);
      }
  .titulo1 {
      Color:rgb(0, 0, 0);
      border:2px;
      height: 100%;
      font-size: 25px; 
      font-family: 'poppins', serif;
      text-align: center;
      }
    li {
        font-size: 20px;
        line-height: 2;
        letter-spacing: 2px;
        list-style-type: none;
        }
h3 em{
    color: rgb(128, 0, 0);
}
    html {font-size: 18px; 
        background-color: rgb(236, 236, 236);
        font-family: 'poppins', sans-serif;   
        text-align: center
            }
    img[src] {
    width: 400px;
    }
p {
    text-align: center;
}
  body {
  width: 700px;
  margin: 25px auto;
  background-color: #ffffff;
  padding: 25px 20px 20px 20px;
  border: 5px solid rgb(0, 0, 0);
}
head {
    text-align: center;
}